<%= form_tag %>

  <p>
    User name:<br />
    <%= text_field("user", "name") %>
  </p>
  <p>
    Password:<br />
    <%= password_field("user", "password") %>
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>