<font face="Arial">Benvenuto su galileoalby.com,
libreria online specializzata in testi di architettura di editori stranieri
(area olandese, spagnola, inglese, americana, tedesca, francese, giapponese, cinese, ed altro).
</font></p><p><font face="Arial">La nostra sede è a Roma, ma facciamo spedizioni in tutta Italia
e in Europa.
</font></p><p><font face="Arial">Per cercare un libro, clicca sul settore di riferimento (Urban Planning, Monografie, ecc.)
</font></p><p><font face="Arial">Nel settore Novità troverai i libri di recente pubblicazione e di interesse attuale.
</font></p><p><font face="Arial">Se non trovi il libro che cerchi: contattaci!
</font></p><ul><font face="Arial"><li>Telefono/Fax: +39 06 7822 160

</li><li>Email: <a href="mailto:webmaster@galileoalby.com">webmaster@galileoalby.com</a>
</li></font></ul>
<p><font face="Arial">Quello che non abbiamo lo troviamo velocemente!
<br>&nbsp;</font>

